* {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0%;
  font-family: "Noto Sans", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
.upper-head {
  background-color: rgb(246, 246, 246);
  width: 100vw;
  height: 80vh;
  overflow-y: hidden;
}

.upper-head span img {
  width: 4vw;
  position: relative;
  top: 60px;
  left: 40px;
}

.upper-text1 {
  position: relative;
  top: 40vh;
  left: 5vw;
  font-size: 20px;
  font-family: "Noto Sans", sans-serif;
}
.upper-text1 img {
  width: 3vw;
  margin-right: 5px;
  position: relative;
  top: 10px;
}

.upper-text2 {
  position: relative;
  top: 43vh;
  left: 5vw;
  font-size: 20px;
  font-family: "Noto Sans", sans-serif;
}

.upper-text2 img {
  width: 3vw;
  margin-right: 5px;
  position: relative;
  top: 25px;
}

.upper-head-bg-img {
  /* overflow: hidden; */
  width: 100vw;
  height: 70vh;
}

/* .upper-head-bg-img img {
  /* width: 50vw; */
/* height: 25vh; */
/* position: relative; */
/* left: 45vw; */
/* }  */

.head-bg1 {
  position: relative;
  left: 40vw;
  top: 10vh;
}

.head-bg2 {
  position: relative;
  left: 30vw;
  top: 20vh;
  z-index: 1;
}

.head-bg3 {
  position: relative;
  left: 5vw;
  /* bottom: 20vh; */
}

.middle-background {
  /* background-color: red; */
  width: 100vw;
  height: 70vh;
  background-image: url("middle.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.middle-info {
  height: 80vh;
}
.middle-info h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Noto Sans", sans-serif;
}

.middle-info p {
  display: inline-block;
  width: 40vw;
  height: 25vh;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.7rem;
  overflow-y: hidden;
  margin-left: 5vw;
  height: 50vh;
}

.bg-doctor {
  position: relative;
  bottom: 40px;
  left: 10vw;
  right: 0;
}

.about-text1 {
  width: 20vw;
  position: absolute;
  left: 5rem;
  top: 125rem;
  margin-bottom: 10px;
}

.about-text2 {
  width: 20vw;
  position: absolute;
  left: 5rem;
  top: 130rem;
  margin-top: 10px;
}

.about-text1 span {
  position: relative;
  left: 2rem;
  bottom: 20px;
  font-weight: bold;
  font-size: 1.5rem;
}

.about-text1 div {
  position: relative;
  left: 5rem;
}

.about-text2 span {
  position: relative;
  left: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  bottom: 10px;
}

.about-text2 div {
  position: relative;
  left: 5rem;
  font-size: 1.5rem;
  color: gray;
  width: 10vw;
}
