* {
  /* box-sizing: border-box; */
  overflow-x: hidden;
  margin: 0;
  padding: 0%;
  font-family: "Noto Sans", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
.upper-head {
  background-color: rgb(246, 246, 246);
  width: 100vw;
  height: 80vh;
  overflow-y: hidden;
}

.upper-head span img {
  width: 4vw;
  position: relative;
  top: 60px;
  left: 40px;
}

.upper-text1 {
  position: relative;
  top: 40vh;
  left: 5vw;
  font-size: 20px;
  font-family: "Noto Sans", sans-serif;
}
.upper-text1 img {
  width: 3vw;
  margin-right: 5px;
  position: relative;
  top: 10px;
}

.upper-text2 {
  position: relative;
  top: 43vh;
  left: 5vw;
  font-size: 20px;
  font-family: "Noto Sans", sans-serif;
}

.upper-text2 img {
  width: 3vw;
  margin-right: 5px;
  position: relative;
  top: 25px;
}

.upper-head-bg-img {
  /* overflow: hidden; */
  width: 100vw;
  height: 70vh;
}

/* .upper-head-bg-img img {
  /* width: 50vw; */
/* height: 25vh; */
/* position: relative; */
/* left: 45vw; */
/* }  */

.head-bg1 {
  position: relative;
  left: 40vw;
  top: 10vh;
}

.head-bg2 {
  position: relative;
  left: 30vw;
  top: 20vh;
  z-index: 1;
}

.head-bg3 {
  position: relative;
  left: 5vw;
  /* bottom: 20vh; */
}

.middle-background {
  /* background-color: red; */
  width: 100vw;
  height: 70vh;
  background-image: url("img/middle.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.middle-info {
  height: 80vh;
}
.middle-info h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Noto Sans", sans-serif;
}

.middle-info p {
  display: inline-block;
  width: 40vw;
  height: 25vh;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.7rem;
  overflow-y: hidden;
  margin-left: 5vw;
  height: 50vh;
}

.bg-doctor {
  position: relative;
  bottom: 40px;
  left: 10vw;
  right: 0;
}

.about-text1 {
  width: 20vw;
  position: absolute;
  left: 5rem;
  top: 125rem;
  margin-bottom: 10px;
}

.about-text2 {
  width: 30vw;
  position: absolute;
  left: 5rem;
  top: 132rem;
  margin-top: 10px;
}

.about-text1 span {
  position: relative;
  left: 2rem;
  bottom: 20px;
  font-weight: bold;
  font-size: 1.5rem;
}

.about-text1 div {
  position: relative;
  left: 5rem;
  font-size: 1.5rem;
  color: gray;
}

.about-text2 span {
  position: relative;
  left: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  bottom: 10px;
}

.about-text2 div {
  position: relative;
  left: 5rem;
  font-size: 1.5rem;
  color: gray;
}

.process-box {
  width: 100vw;
  height: 60vh;
  background-image: url("img/middle.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.blur-background {
  width: 100vw;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.644);
}

.process-heading {
  color: white;
  text-align: center;
  margin-top: 3rem;
}

.row-belt {
  width: 80vw;
  height: 10vh;
  background-color: rgb(241, 233, 223);
  position: relative;
  top: 15vh;
  left: 10vw;
  border-radius: 60px;
}

.boxes {
  position: relative;
  left: 17vw;
  z-index: 1;
  display: inline-block;
  width: 15vw;
  height: 30vh;
  background-color: white;
  margin: 0 10px;
  border-radius: 20px;
}

.boxes-first-heading {
  font-weight: bold;
  font-size: 4rem;
  color: rgb(87, 86, 86);
  margin-top: 20px;
}

.boxes-second-text {
  font-weight: bold;
  text-align: center;
  font-size: 1.4rem;
  margin-top: 4rem;
}

.boxes-third-text {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  color: gray;
  margin-top: 10px;
}

.description-section h1 {
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 4rem;
}
.description-section h2 {
  text-align: center;
  margin-top: 1rem;
  font-weight: lighter;
}

.first-text-section {
  width: 80vw;
  margin-left: 5rem;
  margin-top: 5rem;
}

.first-section-info {
  width: 80vw;
  font-size: 1.8rem;
  margin-left: 4.9rem;
  margin-top: 1.5rem;
}

.number-span1 {
  font-size: 2rem;
  font-weight: bold;
  color: gray;
}

.number-span2 {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 2rem;
}

.second-text-section {
  width: 80vw;
  font-size: 1.8rem;
  margin-left: 4.9rem;
  margin-top: 5rem;
}

.second-number-span1 {
  font-size: 2rem;
  font-weight: bold;
  color: gray;
}

.second-number-span2 {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 2rem;
}

.second-section-info {
  width: 80vw;
  font-size: 1.8rem;
  margin-left: 4.9rem;
  margin-top: 1.5rem;
}

.text-align {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.text-align h1 {
  text-align: center;
}

.last-image-section {
  background-image: url("img/last.png");
  width: 100vw;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.tech-section h1 {
  text-align: center;
  margin: 2rem 0;
}

.tech-stack-box {
  display: flex;
  justify-content: center;
}

.tech-stack-box div {
  display: inline-block;
  background-color: rgb(226, 224, 222);
  padding: 2.5rem 6rem;
  border-radius: 5rem;
  font-weight: bold;
  margin: 30px 10px;
}

footer {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 30vh;
  background-color: rgb(6, 44, 160);
  color: white;
  overflow-y: hidden;
}

.section1 div {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-right: 10rem;
  margin-left: 5rem;
}

.section2 div {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-right: 10rem;
}

.section3 div {
  font-size: 1.3rem;
  line-height: 1.5;
}

.section4 {
  margin-top: 10rem;
  font-size: 1.3rem;
  margin-left: 15rem;
  margin-bottom: 10rem;
}
.bold-head {
  font-weight: bold;
  line-height: 1.4;
}

.social-logo img {
  margin: 10px;
}

.copyright {
  text-align: center;
  padding: 0.6rem;
  font-weight: 500;
}

.social-logo {
  margin-top: 2rem;
}
